@font-face {
    font-family: 'grandhotel';
    src: url('grandhotel-regular/grandhotel-regular.woff2?#iefix') format('woff2'),
         url('grandhotel-regular/grandhotel-regular.woff') format('woff'),
         url('grandhotel-regular/grandhotel-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
