@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot');
    src: url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),
         url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff'),
         url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),
         url('proxima-nova-scosfthin/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
