@font-face {
    font-family: 'oswald';
    src: url('oswald-regular/oswald-regular.woff2?#iefix') format('woff2'),
         url('oswald-regular/oswald-regular.woff') format('woff'),
         url('oswald-regular/oswald-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
