@font-face {
    font-family: 'opensans-light';
    src: url('opensans-light/opensans-light.woff2?#iefix') format('woff2'),
         url('opensans-light/opensans-light.woff') format('woff'),
         url('opensans-light/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
