@font-face {
    font-family: 'lato';
    src: url('lato-bold/lato-bold.woff2?#iefix') format('woff2'),
         url('lato-bold/lato-bold.woff') format('woff'),
         url('lato-bold/lato-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
