@font-face {
    font-family: 'droidsans';
    src: url('droidsans-bold/droidsans-bold.woff2?#iefix') format('woff2'),
         url('droidsans-bold/droidsans-bold.woff') format('woff'),
         url('droidsans-bold/droidsans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
