@font-face {
    font-family: 'calendas';
    src: url('calendas-plus-regular/calendas.woff2?#iefix') format('woff2'),
         url('calendas-plus-regular/calendas.woff') format('woff'),
         url('calendas-plus-regular/calendas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
